<mat-toolbar role="header" class="app-toolbar">
  <span class="app-title">Worse IMDB</span>
  <div class="search-bar">
    <form class="search-form">
      <mat-form-field class="search-input">
        <input
          type="text"
          aria-label="Search string"
          name="movie-search"
          matInput
          [formControl]="searchForm"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button
      class="search-btn"
      (click)="searchMovies()"
      mat-raised-button
      color="primary">Search</button>
    </form>
  </div>
  <div class="filter-select">
    <mat-form-field>
      <mat-select [(ngModel)]='selectedFilter' (ngModelChange)='selectCategory( $event )'>
        <mat-option *ngFor="let filter of filters" [value]="filter">
          {{ filter.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-toolbar>
